In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'c:\\Users\\g6cor\\OneDrive\\Documentos\\GitHub_Repos\\Covid-Crime'

In [6]:
df_names=pd.read_csv('c:/Users/g6cor/OneDrive/Documentos/basic_info.csv')

In [7]:
df_names

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Contract,Value,Wage,Total stat
0,0,236988,Eddie Nketiah,22,England,72,79,Arsenal,2016 ~ 2022,€4.8M,€45K,1698
1,1,225863,Olivier Boscagli,23,France,77,82,PSV,2019 ~ 2025,€14.5M,€15K,1961
2,2,241721,Rafael da Conceição Leão,22,Portugal,82,90,AC Milan,2019 ~ 2024,€68.5M,€52K,1959
3,3,224371,Jarrod Bowen,24,England,79,82,West Ham United,2020 ~ 2025,€24M,€63K,1966
4,4,200104,Heung Min Son,28,Korea Republic,89,89,Tottenham Hotspur,2015 ~ 2025,€104M,€240K,2141
...,...,...,...,...,...,...,...,...,...,...,...,...
19820,20036,245534,Carl Spellman,18,England,52,64,Tranmere Rovers,2018 ~ 2020,€80K,€500,1506
19821,20037,245535,Abdulkadir Parmak,26,Turkey,71,74,Yukatel Kayserispor,"May 31, 2022 On Loan",€2.2M,€15K,2008
19822,20038,245536,Andrea Errico,19,Italy,57,70,Frosinone,2018 ~ 2021,€200K,€2K,1385
19823,20039,245540,Stratos Svarnas,23,Greece,69,74,AEK Athens,2018 ~ 2025,€1.9M,€500,1589
19824,20097,259356,Carney Chukwuemeka,17,England,64,87,Aston Villa,2021 ~ 2023,€1.8M,€2K,1630

In [8]:
df_names.head()

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Contract,Value,Wage,Total stat
0,0,236988,Eddie Nketiah,22,England,72,79,Arsenal,2016 ~ 2022,€4.8M,€45K,1698
1,1,225863,Olivier Boscagli,23,France,77,82,PSV,2019 ~ 2025,€14.5M,€15K,1961
2,2,241721,Rafael da Conceição Leão,22,Portugal,82,90,AC Milan,2019 ~ 2024,€68.5M,€52K,1959
3,3,224371,Jarrod Bowen,24,England,79,82,West Ham United,2020 ~ 2025,€24M,€63K,1966
4,4,200104,Heung Min Son,28,Korea Republic,89,89,Tottenham Hotspur,2015 ~ 2025,€104M,€240K,2141

In [9]:
df_names.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Nationality', 'Overall',
       'Potential', 'Club', 'Contract', 'Value', 'Wage', 'Total stat'],
      dtype='object')

In [10]:
df_all_info=pd.read_csv('c:/Users/g6cor/OneDrive/Documentos/detailed_info.csv')

In [12]:
df_all_info.head(5)

,Unnamed: 0,ID,LS,ST,RS,LW,LF,CF,RF,RW,...,Composure,Defensive Awareness,Standing Tackle,Sliding Tackle,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Traits
0,0,236988,74,74,74,70,72,72,72,70,...,68.0,22.0,19,15,12,10,11,9,5,Chip Shot (AI)
1,1,225863,66,66,66,69,68,68,68,69,...,77.0,76.0,78,77,8,7,14,8,12,"Dives Into Tackles (AI), Long Passer (AI)"
2,2,241721,82,82,82,82,82,82,82,82,...,81.0,22.0,24,21,10,12,15,11,9,"Finesse Shot, Flair, Speed Dribbler (AI), Tech..."
3,3,224371,77,77,77,78,78,78,78,78,...,75.0,49.0,40,36,14,8,14,10,7,"Long Shot Taker (AI), Technical Dribbler (AI)"
4,4,200104,88,88,88,87,87,87,87,87,...,89.0,47.0,34,33,11,13,13,6,10,"Solid Player, Finesse Shot, Long Shot Taker (A..."

In [14]:
df_all_info.shape

(14705, 75)

In [15]:
df_names.shape

(19825, 12)